body 
{
    color: black;
}

#resume-ad1
{
    visibility: hidden;
}

#needhelp
{
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  visibility: visible;
}

#resume-box
{
    font-family:Consolas;
    border:double;
    border-radius:10px;
    margin:50px;
    padding: 20px;
    max-width: 500px;
}

#phonepad {
    font-family: Consolas;
    border: double;
    border-radius: 10px;
    margin: 50px;
    padding: 20px;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    gap:90px;
}

.phonepad-item {
    font-family: Consolas;
    border: double;
    border-radius: 10px;
    max-width: 70px;
    padding: 5px;
    text-align: center;
    margin: 10px;
    margin-left: auto;
}

.phonepad-button {
    font-family: Consolas;
    border: double;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
}

#resume-inputs
{
    border-top:dashed;
    border-color:gray;
}

#submit
{
    font-size: 2em;
    min-height:50px;
    min-width:50px;
    font-family:Consolas;
    visibility: hidden;
}

#fake-submit
{
    font-size: 2em;
    min-height:50px;
    min-width:50px;
    font-family:Consolas;
    visibility: visible;
}
